/*html{
        background-image: url(http://p1.pichost.me/i/56/1797601.jpg);
}*/


body {
  min-height: 2000px;
  padding-top: 70px;
  overflow:hidden;
	
  background-color: #bdbdbd;
  /*add the background image*/
}

.navbar-fixed-top{
  background-color:  #1a237e;

}


.jumbotron p {
  color: #00539F;
  text-shadow: 1px 1px 1px gray;
  /*setting up the font style*/
  font-family: 'Special Elite', cursive; 
}

.container {
    /*background-color: #FF9500;*/
    /*border: 5px solid black;*/
}
/*for the menu bar buttons*/
/*.nav-tabs {
border-top-left-radius: 100px;

border-bottom-left-radius: 100px;
}*/

.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  top: 10%;
  position: absolute;
  font-size: 40px;
  font-family: 'Knewave', cursive;
  color: #dcedc8;
}


.navbar-nav > li > a {
  padding-top:25px !important; 
  padding-bottom: 25px !important;


  /*border-radius: 30px;*/

  background-color: #81d4fa;
	
	/*width: 200px;*/
	font-size: 20px;
	text-align: center;	
	
	color: #424242;
	font-family: 'Special Elite', cursive; 
        
	text-shadow: 1px 1px 1px gray;

	border-radius: 50px;
	transition-property: background, border-radius;
	transition-duration: 1s;
	transition-timing-function: linear;
}

.navbar-nav:last-child{
	margin-right: 0.01cm;
} 

/*.navbar {min-height:25 px !important}*/

#main_jumbo{
  border-radius: 500px;
	transition-property: background, border-radius;
	transition-duration: 1s;
	transition-timing-function: linear;
	background-color: #eeeeee;

}

#shape_button {
  border-radius: 40px;
  transition-property: background, border-radius;
  transition-duration: 1s;
  transition-timing-function: linear;

  background-color: #ffa726;
		
}


